<phpunit colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	strict="true"
	syntaxCheck="false"
	verbose="true">

	<testsuites>

		<testsuite name="DatabaseQuery">
			<file>DatabaseQuery/QueryUpdateTest.php</file>
		</testsuite>

	</testsuites>

</phpunit>
